/* Styles for Crypto List Container and Header */
.crypto-list,
.crypto-header {
  border-radius: 8px;
}

.crypto-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 0 16px;
  max-height: 70vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: lightgrey transparent;
}

.crypto-list::-webkit-scrollbar {
  width: 8px;
}

.crypto-list::-webkit-scrollbar-track {
  background: transparent;
}

.crypto-list::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 10px;
}

.crypto-list::-webkit-scrollbar-thumb:hover {
  background-color: rgb(37, 16, 16);
}

.crypto-header {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background-color: rgba(242, 225, 13, 0.95);
  position: sticky;
  top: 0;
  z-index: 100;
  color: white;
}

.crypto-header-name {
  font-weight: bold;
  flex-grow: 1;
  text-align: start;
}

.crypto-header-price {
  flex-grow: 1;
  text-align: center;
}

.crypto-header-change {
  padding: 0 10px;
  text-align: center;
}

/* Styles for Crypto List Items */
.crypto-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
  background-color: rgba(245, 245, 245, 0.7);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  justify-content: space-between;
}

.crypto-name {
  font-weight: bold;
  flex-grow: 1;
  text-align: start;
}

.crypto-price-change {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-grow: 1;
}

.crypto-price {
  margin-right: 8px;
}

.crypto-change {
  color: green;
  padding: 0 8px;
}

.crypto-change.negative {
  color: red;
}

/* Background Image for Crypto List Wrapper */
.crypto-list-wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../../assets/images/crypto_background.jpg')
}

/* Custom Styles for Star Checkbox */
.star-checkbox-root {
  padding: 0;
  margin: 0;
}

.star-checkbox-icon {
  color: rgba(242, 225, 13, 1);
}

.star-checkbox-input {
  display: none;
}
